@use "theme" as *;

#Bar {
  .main-box {
    color: $fg;
    background-color: $bg;
    border-top: 1px solid $bg-urg;
    min-height: 45px;
  }

  #launcher-button {
    all: unset;
    margin: 6px 0 6px 6px;
    border-radius: 10px;
    color: $fg;
    background-color: $bg-alt;
    min-width: 33px;
    transition: background-color 200ms;

    &:hover {
      background-color: $bg-urg;
    }
  }

  #workspaces {
    margin: 6px 0 6px 3px;
    padding: 4px;
    border-radius: 10px;
    background-color: $bg-alt;

    button {
      all: unset;
      min-width: 25px;
      margin-left: 2px;
      border-radius: 6px;
      color: $fg;
      background-color: transparent;
      transition: background-color 200ms;

      &:first-child {
        margin-left: 0
      }

      &:hover {
        background-color: $bg-urg;
      }

      &.focused {
        color: $bg;
        background-color: $ac;
      }
    }
  }

  #clients {
    margin: 6px 3px;

    .client-box {
      margin-left: 3px;

      &:first-child {
        margin-left: 0
      }

      button {
        all: unset;
        padding: 0 10px;
        color: $fg;
        background-color: $bg-alt;
        border-radius: 10px;
        border-color: $ac;
        border-style: solid;
        transition: background-color 200ms;

        &:hover {
          background-color: $bg-urg;
        }
      }

      .indicator {
        min-height: 4px;
        background-color: transparent;
        border-radius: 3px 3px 0 0;
        margin: 0 30px;
        transition: 200ms margin, 200ms background-color;
      }

      &.focused {
        .indicator {
          background-color: $ac;
          margin: 0 15px;
        }
      }
    }
  }

  #tray {
    all: unset;
    margin: 6px 3px 6px 0;
    border-radius: 10px;
    color: $fg;
    background-color: $bg-alt;
    padding: 4px;

    button {
      all: unset;
      color: $fg;
      border-radius: 6px;
      padding: 0 4px;
      transition: background-color 200ms;

      &:hover {
        background-color: $bg-urg;
      }
    }

    .menu-button {
      all: unset;
      color: $fg;
      border-radius: 6px;
      margin: 0 0 0 2px;
      padding: 0 4px;
      transition: background-color 200ms;

      &:hover {
        background-color: $bg-urg;
      }
    }
  }

  #kb-layout {
    color: $fg;
    background-color: $bg-alt;
    margin: 6px 3px 6px 0;
    border-radius: 10px;
    transition: background-color 200ms;

    label {
      margin: 0 10px;
    }
  }

  #clock {
    color: $fg;
    background-color: $bg-alt;
    margin: 6px 3px 6px 0;
    border-radius: 10px;

    separator {
      background-color: $bg-urg;
      margin: 7px 0;
    }

    label {
      margin: 0 10px;
    }
  }

  #control-button {
    all: unset;
    margin: 6px 6px 6px 0;
    border-radius: 10px;
    color: $fg;
    background-color: $bg-alt;
    min-width: 33px;
    transition: background-color 200ms;

    &:hover {
      background-color: $bg-urg;
    }
  }
}
